.texto-eventos{
    font-family: Montserrat, sans-serif !important;
}

.dourado{
    color: #958600;
}

.div-evento{
    padding-top: 2em !important;
    padding-bottom: 10em;
}
.container-fluid.bg-warning {
    background-color:#F6F3A4 !important;
}